@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('/VT323.ttf') format('truetype');
}

html,
body,
:root {
  height: 100%;
  background-color: rgb(20 83 45);
  color: black;
}

button:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
} */
